S3method(print,calibrator)
export(calibrate)
export(bilstm_calibrator)
export(pretrained_sir_calibrator)
export(simulate_training_data)
export(simulate_from_parameters)
export(save_training_data)
export(train_bilstm_calibrator)
S3method(print,simulator)
export(new_simulator)
export(sir_simulator)
export(seir_simulator)

export(new_training_data)
S3method(print,training_data)
export(read_training_data)
export(generate_sir_training_data)
export(generate_seir_training_data)

S3method(print,calibration_result)
S3method(print,calibrator_comparison)
export(calibration_estimate)
export(make_calibrator)
export(baseline_calibrators)
export(compare_calibrators)
